<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>member list</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}">1</td>
                <td th:text="${member.name}">임현민</td>
            </tr>
        </tbody>
    </table>
</body>
</html>